<div class="home_info">
	<h1>Find Happy Hours Around the Boulder Area Now!</h1>
	<h4>Our app lets you find happy hours around Boulder in restaurants and bars.</h4>
	<div class="routing_button">
		<h1><%= link_to 'Search for Bars', bars_path %></h1>
	</div>
</div>