/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
body{
	padding: 0;
	margin: 0;
}


.nav_bar{
	width: 100%;
	height: 50px;
	margin: 0 auto;
	-webkit-box-shadow: 0 1px 10px 0 rgba(0,0,0,.25);
	-moz-box-shadow: 0 1px 10px 0 rgba(0,0,0,.25);
	box-shadow: 0 1px 10px 0 rgba(0,0,0,.25);
}
.nav_bar ul{
	margin: 0;
	list-style: none;
	height: 50px;
}

.nav_bar ul li{
	display: inline-block;
	color: #676767;
	float: right;
	width: 200px;
	height: 50px;
	border-left: 1px solid #c9c9c9;
	text-align: center;
	font-size: 14pt;
	line-height: 2.5;
}
.nav_bar ul li a{
	color: #fff;
	text-decoration: none;
	display: block;
	width: 200px;
	height: 50px;
}
.nav_bar ul li a:hover{
	color: #ededed;
	background: none;
}
.action_button:hover{
	background: #2ba8ec;
	color: #ededed;
}
.nav_bar ul li:first-child{
	float: left;
	width: 500px;
	border: none;
	text-align: left;
}
#profile{
	background: url('profile_hover.png') 20px center no-repeat;
	background-size: 30px 30px;
}
#profile:hover{
	background: url('profile_hover.png') 20px center no-repeat #2ba8ec;
	background-size: 30px 30px;
}

.routing_button{
	width: 300px;
	height: 75px;
	text-align: center;
	background: #2ba8ec;
	line-height: 2.5;
	transition: 0.5s;
}
.routing_button:hover{
	background: #1e75a5;
}
.routing_button h1 a{
	text-decoration: none;
	color: #ededed;
}